*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montauk;
}

/* @font-face {
    font-family: Montauk;
    src: url(/assets/Montauk-Regular.otf) format("opentype");
}

@font-face {
    font-family: Montauk-Bold;
    font-weight: bold;
    src: url(/assets/Montauk-Bold.otf) format("opentype");
}

@font-face {
    font-family: Montauk-Light;
    font-weight: lighter;
    src: url(/assets/Montauk-Light.otf) format("opentype");
}

@font-face {
    font-family: Montauk-Italic;
    font-style: italic;
    src: url(/assets/Montauk-Italic.otf) format("opentype");
}
     */
h1 {
    font-family:  Montauk-Italic;
    font-weight:normal;
    font-style:normal;
    font-weight: bold;
    margin-top:15px !important;
}



/* Nav and Background */
.bg-image{
    background-image: url(/assets/bgtexture.jpg);
}


.logo-area{
    margin-left: 50px;
    position: absolute;
}

.menulist {
    float: right;
    list-style: none;
    margin-right: 10px;
    position: relative;
    display: flex;
    
}
.menulist li{
    font-size: 18px;
    font-weight: bold;
    position: relative;
    margin: 10px;
}
.menulist li a{
    text-decoration: none;
    font-family: Montauk-Italic;
    color: #5F002B;
}
.check{
    right: 0;
    height: 40px;
    position: absolute;
    width: 40px;
    margin: 3px 20px 0px 0px;
    z-index: 999999 !important;
    opacity: 0;
    top: 0;
}
.ham-menu{
    float: right;
    height: 40px;
    width: 40px;
    margin: 20px 20px 0px 0px;
    position: relative;
    display: none;
    border: 2px solid #5F002B;
}
.menuline {
    background:#5F002B;
    height: 2px;
    width: 25px;
    position: relative;
    margin: auto;
    display: flex;
    top: 50%;
}
.menuline::before {
    content:'';
    position: absolute;
    background:#5F002B;
    height: 2px;
    width: 25px;
    top: -8px;
}
.menuline::after {
    content:'';
    position: absolute;
    background:#5F002B;
    height: 2px;
    width: 25px;
    top: 8px;
}
.content-area{
    height: 1000px;
    width: 100%;
    text-align: center;
}
.content{
    height: 500px;
    transform: translateY(50%);
    font-size: 30px;
}
 @media only screen and (max-width:680px){
    header{
        position: fixed;
    }
    .menulist{
        position:fixed;
        background-image: url(/assets/bgtexture.jpg);
        width: 100%;
        height: 100%;
        margin-right: 0px;
        top: 100px;
        padding-top: 50px;
        text-align: center;
        transition: 0.5s;
        right: -100%;
        cursor: pointer;
    }
    .ham-menu{
        display: block;
        cursor: pointer;
    }
    .menulist {
        display: block;
        margin-right: 0px;
        }
    .menulist li a{
            font-size: 22px;
            text-align: center;
                }
    .check:checked ~ .menulist{
        right: 0;
        }
        
        .check:checked ~ .ham-menu .menuline{
            transform: rotate(135deg);
            transition: 0.3s ease;
        }
        .check:checked ~ .ham-menu .menuline::before,.check:checked ~ .ham-menu .menuline::after{
            top: 0;
            transform: rotate(90deg);
        }
}
/* End of Nav & background */
/* Start of the About Style Sheet*/
.story-box{
    background-color: #FFFFFF;
    color: #5F002B;
}

.story-container{
    padding-top: 100px;
    max-width: 1200px;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin: 0 auto !important;
}

.our-team{
    background-color: #FFFFFF;
    margin-top: 50px !important;
    text-align: center;
    padding-bottom: 0 !important;
    margin-bottom: 20px !important;
    padding: 10px;
}


/* h4{
    font-family:  Montauk-Italic;
    font-weight:normal;
    font-style:normal;
    font-weight: bold;
    color: #5F002B;
} */

.card{
    border: none !important;
    width: 400px;
    display: inline-block;

}
/* .about-cd{
    display: inline-block !important;
   border-spacing: 10px;
} */
/* .george{
    justify-self: start;
    margin-right: 10px;
}
.louie{
    margin-left: 10px;
} */

/* Start of bottom copyright section of the about page */
.copyright-bimg{
    text-align: right;
}

/* This is the css for menu page */
.wmenu-bar{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
    font-size: 50px;
    background-color: #FFFFFF;
    font-family: 'Fugaz One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;

}