*, ::after, ::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: MontaukRegular;
}

img{
    vertical-align: middle;
    border-style: none;
}

/* Nav and Background */
.bg-image{
    background-image: url(/assets/bgtexture.jpg);
    
}


.logo-area{
    position: absolute;
    margin-left: 5rem;
}

.p-l{
    padding-left: 5rem;
}

.p-r{
    padding-right: 5rem;
}

.pl-4, .px-4{
    padding-left: 1.4rem!important;
}

.pb-5, .py-5{
    padding-bottom: 3rem!important;
}

.mb-0, .my-0{
    margin-bottom: 0!important;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mt-5, .my-5{
    margin-top: 3rem!important;
}



.menulist {
    float: right;
    list-style: none;
    margin-right: 10px;
    position: relative;
    display: flex;
    
}

.linkPadding{
  padding-right: 3%;
}
.ham-menu{
    float: right;
    height: 40px;
    width: 40px;
    margin: 20px 20px 0px 0px;
    position: relative;
    display: none;
    border: 2px solid #5F002B;
}
.menuline {
    background:#5F002B;
    height: 2px;
    width: 25px;
    position: relative;
    margin: auto;
    display: flex;
    top: 50%;
}
.menuline::before {
    content:'';
    position: absolute;
    background:#5F002B;
    height: 2px;
    width: 25px;
    top: -8px;
}
.menuline::after {
    content:'';
    position: absolute;
    background:#5F002B;
    height: 2px;
    width: 25px;
    top: 8px;
}
.content-area{
    height: 1000px;
    width: 100%;
    text-align: center;
}
.content{
    height: 500px;
    transform: translateY(50%);
    font-size: 30px;
}
 @media only screen and (max-width:680px){
    header{
        position: fixed;
    }
    .menulist{
        position:fixed;
        background-image: url(/assets/bgtexture.jpg);
        width: 100%;
        height: 100%;
        margin-right: 0px;
        top: 100px;
        padding-top: 50px;
        text-align: center;
        transition: 0.5s;
        right: -100%;
        cursor: pointer;
        
    }
    .ham-menu{
        display: block;
        cursor: pointer;
    }
    .menulist {
        display: block;
        margin-right: 0px;
        }
    .menulist li a{
            font-size: 22px;
            text-align: center;
                }
    .check:checked ~ .menulist{
        right: 0;
        }
        
        .check:checked ~ .ham-menu .menuline{
            transform: rotate(135deg);
            transition: 0.3s ease;
        }
        .check:checked ~ .ham-menu .menuline::before,.check:checked ~ .ham-menu .menuline::after{
            top: 0;
            transform: rotate(90deg);
        }
}
/* End of Nav & background */

/* Index CSS */

.home-hero{
    
    margin-top: 4rem;
    max-width: 100%;
    justify-content: center;

}

@font-face{
    font-family: 'Montauk-Regular';
    src: url("../assets/Montauk-regular.otf");

    font-family: 'Montauk-Light';
    src: url("../assets/Montauk-Light.otf");

    font-family: 'Montauk-Italic';
    src: url("../assets/Montauk-Italic.otf");

    font-family: 'Montauk-Bold';
    src: url("../assets/Montauk-Bold.otf");
}


.corinHomeTitle{
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
}

.home-text{
    font-family: 'Montauk-regular';
    color: #5F002B;
}

.flex-end{
    flex-direction: row-reverse; 
    padding-bottom: 1rem;
    
}

#index-img2{
    
    background-image: url(/assets/HomeImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 80rem;
    padding: 0%;
    margin: 0%;
}

.noMar{
    margin: 0%;
}

.corinMarBtm{
   margin-top: 80px; 
}





/* Catering css */
#catering-img1{
    background-image: url(/assets/cateringHero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem;
}

.catering-title{
    font-size: 30px;
    color: #5F002B;
    line-height: 44px;
    font-family: 'Fugaz One', cursive;
    background-color: white;
    margin-bottom: 0px;
    padding-top: 15px;
}

.catering-text{
    font-size: 20px;
    color: #5F002B;
    line-height: 22px;
    background-color: white;
    padding: 3%;
}

.caterHeroImg{
    width: 100%;
    height: 100%;
}


 